name: Test
on: [push, pull_request]
jobs:
  run:
    # Use a matrix for different OS and Python versions
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Run tests
        run: hatch test -- --ignore tests/test_translator.py
